<table>
  <caption>
    Light palettes
  </caption>
  <tbody>
    <tr>
      <th colspan="2">primary</th>
    </tr>
    <tr>
      <th class="gbl-monospace">40</th>
      <td>primary</td>
    </tr>
    <tr>
      <th class="gbl-monospace">100</th>
      <td>on-primary</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">neutral</th>
    </tr>
    <tr>
      <th class="gbl-monospace">10</th>
      <td>on-surface</td>
    </tr>
    <tr>
      <th class="gbl-monospace">94</th>
      <td>surface-container</td>
    </tr>
    <tr>
      <th class="gbl-monospace">98</th>
      <td>surface</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">neutral-variant</th>
    </tr>
    <tr>
      <th class="gbl-monospace">50</th>
      <td>outline</td>
    </tr>
    <tr>
      <th class="gbl-monospace">90</th>
      <td>surface-variant</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">error</th>
    </tr>
    <tr>
      <th class="gbl-monospace">40</th>
      <td>error</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>
    Dark palettes
  </caption>
  <tbody>
    <tr>
      <th colspan="2">primary</th>
    </tr>
    <tr>
      <th class="gbl-monospace">20</th>
      <td>on-primary</td>
    </tr>
    <tr>
      <th class="gbl-monospace">80</th>
      <td>primary</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">neutral</th>
    </tr>
    <tr>
      <th class="gbl-monospace">6</th>
      <td>surface</td>
    </tr>
    <tr>
      <th class="gbl-monospace">12</th>
      <td>surface-container</td>
    </tr>
    <tr>
      <th class="gbl-monospace">90</th>
      <td>on-surface</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">neutral-variant</th>
    </tr>
    <tr>
      <th class="gbl-monospace">30</th>
      <td>surface-variant</td>
    </tr>
    <tr>
      <th class="gbl-monospace">60</th>
      <td>outline</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">error</th>
    </tr>
    <tr>
      <th class="gbl-monospace">80</th>
      <td>error</td>
    </tr>
  </tbody>
</table>
