<div class="gbl-display-large">display-large Lorem ipsum</div>
<div class="gbl-display-medium">display-medium Lorem ipsum</div>
<div class="gbl-display-small">display-small Lorem ipsum</div>

<hr />

<div class="gbl-headline-large">headline-large Lorem ipsum</div>
<div class="gbl-headline-medium">headline-medium Lorem ipsum</div>
<div class="gbl-headline-small">headline-small Lorem ipsum</div>

<hr />

<div class="gbl-title-large">title-large Lorem ipsum</div>
<div class="gbl-title-medium">title-medium Lorem ipsum</div>
<div class="gbl-title-small">title-small Lorem ipsum</div>

<hr />

<div class="gbl-body-large">body-large Lorem ipsum</div>
<div class="gbl-body-medium">body-medium Lorem ipsum</div>
<div class="gbl-body-small">body-small Lorem ipsum</div>

<hr />

<div class="gbl-label-large">label-large Lorem ipsum</div>
<div class="gbl-label-medium">label-medium Lorem ipsum</div>
<div class="gbl-label-small">label-small Lorem ipsum</div>

<hr />
