<canvas #canvas [width]="canvasSize()" [height]="canvasSize()" class="app-cubic-bezier-control__canvas"></canvas>

<div
  class="app-cubic-bezier-control__point"
  cdkDrag
  cdkDragBoundary=".app-cubic-bezier-control"
  [cdkDragDisabled]="disabled()"
  (cdkDragMoved)="updateParam('p1')"
  #p1
>
  <button
    class="gbl-button-less"
    matRipple
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"
    [matRippleDisabled]="disabled()"
  >
    p1
  </button>
</div>

<div
  class="app-cubic-bezier-control__point"
  cdkDrag
  cdkDragBoundary=".app-cubic-bezier-control"
  [cdkDragDisabled]="disabled()"
  (cdkDragMoved)="updateParam('p2')"
  #p2
>
  <button
    class="gbl-button-less"
    matRipple
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"
    [matRippleDisabled]="disabled()"
  >
    p2
  </button>
</div>
