.app-cubic-bezier-control {
  position: relative;
  display: block;
  width: var(--app-cubic-bezier-control-canvas-size);
  height: var(--app-cubic-bezier-control-canvas-size);
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgb(from var(--mat-sys-surface-variant) r g b / 0.24);

  &__canvas {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__point {
    position: absolute !important;
    z-index: 2;
    top: 0;
    left: 0;
    width: var(--app-cubic-bezier-control-point-size);
    height: var(--app-cubic-bezier-control-point-size);
    border-radius: 99px;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    cursor: move;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    transition: transform ease 60ms;

    &:disabled {
      opacity: 0.33;
    }
  }
}
