// Note: global styles starts with `.gbl-*`.

:root {
  --gbl-spacing: 1.5rem;

  --pl-font-family-monospace: 'Roboto Mono', monospace;
}

.gbl-monospace {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
