.app-palette-gen {
  margin: 1rem;
  display: flex;
  gap: 5%;

  &__previews {
    flex-basis: 65%;

    display: flex;
    gap: 1px;

    > * {
      flex-grow: 1;
    }
  }

  &__form {
    flex-basis: 35%;
  }
}
