$gap: 1.5rem;
$base-width: 200px;

.app-palette-gen-form {
  &__form {
    margin-bottom: $gap;
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: flex-start;
  }

  &__color {
    margin: 0 0 -20px 0 !important;
    width: $base-width !important;
  }

  &__range {
    margin: 0 !important;
    width: $base-width !important;
  }
}
