<form [formGroup]="form" class="app-palette-gen-form__form">
  <mat-form-field appearance="outline" class="app-palette-gen-form__color">
    <mat-label>Color</mat-label>
    <input [formControl]="form.controls.color" matInput placeholder="#666666" />
    <mat-error>Invalid</mat-error>
  </mat-form-field>

  <mat-slider min="0" max="100" step="1" discrete class="app-palette-gen-form__range">
    <input [formControl]="form.controls.start" matSliderStartThumb />
    <input [formControl]="form.controls.end" matSliderEndThumb />
  </mat-slider>

  <app-cubic-bezier-control [formControl]="form.controls.params" [canvasSize]="200" [colorMap]="colorMap()" />

  <mat-checkbox [formControl]="form.controls.reverse">Reverse</mat-checkbox>

  <mat-checkbox [formControl]="form.controls.neutral">Neutral</mat-checkbox>
</form>

<app-css-var-observer [cssVarConfig]="cssVarConfig" (colorMapChange)="colorMap.set($event)" />
