@use './app' as app;

.app-root {
  &__header {
    position: sticky;
    z-index: 2;
    top: 0;

    background-color: var(--mat-sys-surface-container);
  }

  &__container {
    --mat-sidenav-container-width: 250px;

    position: relative;
    z-index: 1;
    height: calc(100% - 72px);
  }

  &__main {
    padding: 1.5rem;
  }

  &__sidenav {
  }

  &__aside {
    position: relative;
    z-index: 1;
    padding: 1.5rem;
  }
}
