<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>palette</mat-icon>
    Palette Generator
  </button>

  <button mat-menu-item routerLink="/demo/overlay">
    <mat-icon>layers</mat-icon>
    Palette Generator Overlay
  </button>

  <button mat-menu-item routerLink="/demo/cubic-bezier-control">
    <mat-icon>draw</mat-icon>
    Cubic Bezier Control
  </button>

  <!--<button mat-menu-item routerLink="/demo/content">Content</button>-->
</mat-menu>
