<app-layout fullScreen>
  <button appLayoutHeaderAction mat-icon-button aria-label="Menu" (click)="toggleSidenav()">
    <mat-icon>tune</mat-icon>
  </button>

  <mat-drawer-container class="app-palette-gen__container" [hasBackdrop]="false" autosize>
    <pg-palette-gen-content class="app-palette-gen__content">
      <!-- if neede, use your own component showcase -->
    </pg-palette-gen-content>

    <mat-drawer position="end" mode="side" [(opened)]="sidenavOpened">
      <pg-palette-gen-sidenav class="app-palette-gen__sidenav" />
    </mat-drawer>
  </mat-drawer-container>

  <pg-palette-gen-snapshots appLayoutFooterAction />
</app-layout>
